body, h1, h2, h3, h4, h5, h6, dl, dt, dd, form, input, hr, img, div, label, span, p{
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "PingFang SC", "Noto Sans", "Noto Sans CJK SC", "Microsoft YaHei";
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    word-break: break-all;
}
.logo{
    display: inline-block;
    width: 250px;
    height: 100px;
    background: url("../image/moduleprofile.png") no-repeat 0px 17px;
    background-size: auto 60px;
    margin-top: 0px;
}
.pull-left{
    float: left !important
}
.pull-right {
    float: right!important;
}
.logpart {
    float: right;
    display: block;
    color: #666;
    line-height: 64px;
    height: 64px;
    margin-top: 8px;
    margin-right: 10px;
}
.logpart a.first {
    color: #666;
    margin-left: 10px;
    margin-top: 2px;
    text-decoration: none;
}

.logpart a.first:hover {
    color: #29ABE2;
    text-decoration: underline;
}
.logpart a.about {
    color: #666;
    font-weight: normal;
    line-height: 32px;
    font-size: 16px;
    text-decoration: none;
}

.logpart a.about:hover {
    color: #29ABE2;
    text-decoration: underline;
}

.logpart #login-join{
    display: block;
    float: right;
    margin-top: 8px;
}