body, h1, h2, h3, h4, h5, h6, dl, dt, dd, form, input, hr, img, div, label, span, p{
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "PingFang SC", "Noto Sans", "Noto Sans CJK SC", "Microsoft YaHei";
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    word-break: break-all;
}
* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    vertical-align: top    
}
html, body{
    width: 100%;
    height: 100%;
}
.page{
    width: 100%;
    height: auto;
}
.header{
    width: 100%;
    height: auto;
    background-color: #fff;
}
.header .header-in .header-left .log-picture{
    display: inline-block;
    width: 250px;
    height: 100px;
    background: url("../image/moduleprofile.png") no-repeat 0px 17px;
    background-size: auto 60px;
    margin-top: 0px;
}
.page .header .header-in .header-left {
    float: left !important
}
.page .header .header-in .header-middle {
    width: 450px;
    height: 34px;
    float: left;
    margin-top: 30px;
    margin-left: 50px;
}
.page .header .header-in .header-middle input{
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    background-color: #fafafa;
    border: 1px solid #ddd;
    font-size: 14px;
    resize: none
}
.page .header .header-in .header-right {
    float: right !important;
    width: 116;
    height: 60;
    margin-top: 35px;
}
.page .header .header-in .header-right li{
    float: left;
}
.page .header .header-in .header-right li a {
    color: #383838;
    line-height: 35px;
    margin-left: 10px;
    text-decoration: none;
    text-align: center;
    display: inline;
    font-size: 16px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
}
.page .header .header-in .header-right a:hover {
    color: #29ABE2;
    text-decoration: underline;
}

.page .main-body{
    width: 100%;
    height: 45px;
    background-color: #f5f5f5;
    float: left;
    text-align: center;
}
.page .main-body .body-header a{
    float: left;
    display: inline;
    margin-left: 25px;
    margin-top: 10px;
    text-decoration: none;
    color: #383838;
}